.main {
  text-align: center;
}

.title {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

.paragraph {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.infoContainer {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.dropzoneSection {
  width: 100%;
  display: flex;
  margin-bottom: 5rem;

  place-items: center;
  flex-direction: column;
  gap: 1rem;
}

.tableSection {
  width: 100%;
  display: flex;
  margin-bottom: 5rem;

  place-items: center;
  flex-direction: column;
  gap: 1rem;
}

.buttonGroup {
  display: flex;
  gap: 0.5rem;
}
